[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = all
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = http://github.com/vimwiki/vimwiki.git
    ignore = all
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
    ignore = all
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
    ignore = all
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
    ignore = all
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-synthwave84"]
	path = bundle/vim-synthwave84
	url = https://github.com/artanikin/vim-synthwave84.git
[submodule "bundle/vim-256noir"]
	path = bundle/vim-256noir
	url = https://github.com/andreasvc/vim-256noir.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
